{
  "globals": {
    "ts-jest": {
      "babelConfig": "true"
    }
  },
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-react-jsx"
      ]
    }
  }
}